
#botao_postar {
    width: 100%;
}
body{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0;
    background-image: url('../Images/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}



